---

import Layout from '../layouts/Layout.astro';
import Jumbotron from "../components/Jumbotron.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Jumbotron>
		
	</Jumbotron>

	<div>
		<div>
			<h2>Xiaomi Pad 7/7 Pro Focus Keyboard</h2>
		</div>
		<div>
			<p>A comprehensive tablet assistant - unleash your potential anytime, anywhere.</p>
		</div>
		<button>Learn More</button>
	</div>
	
	<div>
		<div>
			<p>Unstoppable potable power</p>
		</div>
		<div>
			<h2>Xiaomi 212W HyperCharge Power Bank 25000</h2S>
			<p>An ideal travel partner for fast, safe and reliable charging.</p>
		</div>
	</div>

	<div>
		<div>
		<image> 

		</image>
		</div>
		<div>
			<p>Xiaomi</p>
			<h2>Smart Desktop Air Circulation Fan</h2>
			<p>Lightweight and portable</p>
		</div>
		<button>Learn More</button>
		
	</div>
	Esta es la ruta incial. 
</Layout>
