---
import Layout from "../layouts/Layout.astro";
import Jumbotron2 from "../components/Jumbotron2.astro";
---

<Layout>

<Jumbotron2 background="scale.webp">
    <h1> Xiaomi Body Composition Scale s400</h1>
    <p>Dual-frequency precision for in-depth health checking</p>
</Jumbotron2>


</Layout>