---
interface Props {
    imgURL: string
    title: string
    description: string
    button: string
    
}
const {imgURL, title, description, button} = Astro.props
---
<div>   
    <img src={imgURL} alt={title} />
    <div>
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
    <div>
        <button>Learn More</button>
    </div>
</div>
