<div>
    <div>
        <image />
    </div>
    <div>
        <p>Xiaomi</p>
        <h2>Smart Desktop Air Circulation Fan</h2>
        <p>Lightweight and portable</p>
    </div>
    <button>Learn More</button>
</div>