---
interface Props {
    title: string
    description: string
    imgURL: string
    
}

const { title, description, imgURL } = Astro.props

---
<div>
    <div>
        <img src={imgURL} alt={title} class="img">
    </div>
    <div class="more">
        <h4>{title}</h4>
        <p>{description}</p>
    </div>
</div>

<style>
    .img{
        width:100%;
        height: 250px;
        object-fit: cover;
    }
    .more{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 50px 3% 25px;
    }
</style>