---
interface Props {
    title: string
    description: string
    imgURL: string
    
}

const { title, description, imgURL } = Astro.props

---
<div class="colorback">
    <div>
        <img src={imgURL} alt={title} class="img">
    </div>
    <div class="more">
        <h4>{title}</h4>
        <p>{description}</p>
    </div>
</div>

<style>
    .img{
        width:100%;
        height: 250px;
        object-fit: cover;
        border-radius: 15px;

        transition: all 0.3s ease-in;
    }
    .colorback:hover img{
        transform: scale(1.1);
    }
    .more{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 20px 3% 20px;
        text-align: center;
    }
    .colorback{
        background-color: white;
        border: solid;
        border-radius: 15px;
        border-color: transparent;
    }
</style>