---
import { Icon } from "astro-icon/components";
---

<div class="jumbotron">
    <div class="all">
        <div>
            <span class="hyper">Xiaomi HyperAI</span>
            <h1>Xiaomi 15 Ultra</h1>
            <div class="sub">
                <p>CO-ENGINEERED WITH</p>
                <Icon
                    name="simple-icons:leica"
                    width="24"
                    height="24"
                    class="logo-mobile"
                    class="leicalogo"
                />
            </div>
            <div class="descrip">
                <p class="subs">Pinnacle photography</p>
                <p>Redefining Leica optics</p>
                <div>
                    <button class="click">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .jumbotron {
        background-image: url(portada.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        height: 500px;

        display:flex;
        align-items: center;
    }

    .sub {
        display: flex;
        gap: 5px;
        padding-left: 130px;
        font-size: 10px;
    }
    .leicalogo {
        color: red;
    }
    .hyper {
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 100px;
        font-weight: 500;
        padding: 5px 15px;
    }
    .click {
        background-color: rgb(49, 49, 49);
        color: white;
        border-radius: 10px;
        font-weight: 500;
        padding: 5px 15px;
        display: flex;
        flex-direction: column;

        transition: background 0.3s ease-in;
        transition: all 0.3s ease-in;
    }
    .jumbotron:hover button {
        background-color: #616161;
        transform: scale(1.1);
    }
    .subs {
        font-weight: 500;
        font-size: 17px;
    }
    .all {
        display:flex;
        flex-direction: row;
        padding-left: 250px;
       
    }
    @media (max-width:1024px){
        .all{
            padding-left: 150px;
        }
    @media (max-width:720px){
        .all{
            padding-left: 60px;
        }
    }
    .descrip {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
</style>
