---
import { Icon } from "astro-icon/components";
---

<div>
    <div>
        <div>
            <div>
               <img src="portada.jpg" alt="Xiaomi 15 phones">
            </div>
            <p>Xiaomi HyperAI</p>
            <h1>Xiaomi 15 Ultra</h1>
            <div>
                <p>co-engineered with</p>
                <Icon
                    name="simple-icons:leica"
                    width="24"
                    height="24"
                    class="logo-mobile"
                />
            </div>
            <p>Pinnacle photography</p>
            <p>Redefining Leica optics</p>
            <button>Learn More</button>
        </div>
    </div>
</div>
