---
import { Icon } from 'astro-icon/components';
---


<div>
    <div>
        <div>
            <p>Xiaomi HyperAI</p>
            <div>
                <h1>Xiaomi 15 Ultra</h1>
                <p>co-engineered with</p>
                <Icon name="simple-icons:leica" width="24" height="24" class="logo-mobile" />
            </div>
            <p>Pinnacle photography</p>
            <p>Redefining Leica optics</p>
        </div>
        <button>Learn More</button>
    </div>
</div>
