---
interface Props {
    background: string;
}
const { background } = Astro.props;
---

<div class="background15ultra">
    <div class="background">
        <img src={background} alt="" />
    </div>
    <slot />
    <div class="division">
        <h1></h1>
        <p class="subs"></p>
    </div>
    <div>
        <button class="button">Learn More</button>
    </div>
</div>

<style>
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -100;
    }
    .background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .background15ultra {
        position: relative;
        padding: 150px 50px;
        object-fit: cover;
        padding-left: 60%;
        display: flex;
        flex-direction: column;
        gap:12px
    }
    .division {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .subs {
        font-size: larger;
    }
    .button {
        background-color: rgb(49, 49, 49);
        color: white;
        border-radius: 10px;
        font-weight: 500;
        padding: 5px 15px;

        transition: background 0.3s ease-in;
        transition: all 0.3s ease-in
    }
    .background15ultra:hover button{
        background-color:  #616161;
        transform:scale(1.1)
    }
</style>
