<div>
    <div>
        <div>
            <p>Xiaomi HyperAI</p>
            <div>
                <h1>Redmi Note 14 Pro+ Iconic shots, AI cafted</h1>
                <p>5G</p>
            </div>
            <p>Meet Sand Gold</p>
        </div>
        <button>Learn More</button>
    </div>
</div>
