<header>
 <nav>
    <ul>
       <li>
        <a href="/">Inicio</a>
        <li>
            <a href="/mobile">Moviles</a>
        <li>
            <a href="/lifestyle">Estilo de Vida</a>
        <li>
            <a href="/home">Hogar</a>
        <li>
        <a href="/contact">Contactanos</a>
    </ul>
 </nav>
</header>