---
import { Icon } from 'astro-icon/components';
---

<header>
    <nav>
    --falta un div que englobe todo?---
        <div>
            <a href="/">
                <Icon name="simple-icons:xiaomi" width="32" height="32" class="logo-mobile" />
            </a>
            <ul>
                <li><a href="/mobile">Mobile</a></li>
                <li><a href="/lifestyle">Lifestyle</a></li>
                <li><a href="/home">Smart Home</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/discover">Discover</a></li>
                <li><a href="/support">Support</a></li>
            </ul>
        </div>
        <div>
            <Icon name="ant-design:search-outlined" width="32" height="32" class="search-icon" />
            <Icon name="ant-design:user-outlined" width="32" height="32" class="contat-icon" />
        </div>

        
    </nav>
</header>