---
interface Props {
    title: string;
    description: string;
    imgURL: string;
}
const { title, description, imgURL } = Astro.props;
---

<div class="all">
    <div class="looks">
        <h3 class="tit">{title}</h3>
        <p>{description}</p>
    </div>
    <div>
        <button class="button">Learn More</button>
    </div>
    <div>
        <img src={imgURL} alt="" class="img" />
    </div>
</div>

<style>
    .img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: all 0.3s ease-in;
    }
    .all {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 50px;
        text-align: center;
        flex-basis: 500px;
        background-color: #fff;
        border-radius: 10px;
    }
    .all:hover img {
        transform: scale(1.1);
    }
    .looks {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }
    .tit {
        font-size: 30px;
    }
    .button {
        background-color: rgb(49, 49, 49);
        border-radius: 10px;
        font-weight: 700;
        padding: 8px 20px;
        color: white;
        transition: background 0.3s ease-in;
    }
    .button:hover {
        background-color: #616161;
    }
</style>
