---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/globlal.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Purple</title>
		<meta property="og:title" content="Purple" />
		<meta property="og:type" content="image" />
		<meta
			property="og:url"
			content="https://www.imdb.com/title/tt0117500/"
		/>
		<meta
			property="og:image"
			content="https://ia.media-imdb.com/musu.png"
		/>
	</head>
	<body class="back">
		<Navbar />

		<slot />

		<Footer />
	</body>
</html>

<style>
	.back {
		background-color: #f7f7f7;
	}
</style>

<script>
	import Lenis from "lenis";
	// Initialize Lenis
	const lenis = new Lenis({
		autoRaf: true,
	});

	// Listen for the scroll event and log the event data
	lenis.on("scroll", (e) => {
		console.log(e);
	});
</script>
